html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* typography and icons */

h1{
    color: rebeccapurple;
    font-size: 20px;
    margin-bottom: 10px;
}

i{
    cursor: pointer;
    font-size: 15px;
}

.fa-solid{
    color: #999;
}

.liked{
    color: purple;
}

.reposted {
    color: green;
}

/* layout */

main, header{
    margin: 0 auto;
    width: 290px;
}

header{
    padding-bottom: 25px;
}

.chat-input-area {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 60px;
    line-height: 30px;
    margin: 0 0 20px 0;
    padding: 10px;
    resize: none;
    width: 100%;
}

button{
    background-color: rebeccapurple;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 19px;
    width: 100%; 
}

/* chat */

.chat{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    margin: 15px 0;
    width: 100%;
}

.chat-inner{
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.chat-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.detail{
    display: flex;
    gap: 4px;
}

.chat-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    color: #555;
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
}

.chat-text{
    font-size: 14px;
    line-height: 20px;
    width: 207px;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}